/* Resetting default styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Body styles */

body {
    font-family: 'Inter', sans-serif;
    background-color: #3b4664;
    margin: 0;
    padding: 0;
}


/* Calculator container styles */

.calculator {
    max-width: 400px;
    margin: 0 auto;
    background-color: #252d44;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}


/* Header styles */

.header {
    text-align: center;
    margin: 20px 0;
    font-size: 24px;
    color: #fff;
}


/* Input field styles */

.input-field {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.display {
    font-size: 2rem;
    height: 5vh;
    width: 90vw;
    text-align: right;
    color: #fff;
    background: #181f32;
    border-radius: 5px;
    padding: 25px;
    border: none;
    outline: none;
}


/* Numpad container styles */

.Numpad {
    border-radius: 5px;
    background: #252d44;
    width: 90vw;
    max-width: 400px;
    padding: 20px;
    margin: 0 auto;
}


/* Button container styles */

.btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}


/* Button styles */

.btn {
    margin: 10px;
    padding: 16px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.btn-number {
    background-color: #eae3db;
    color: #181f32;
}

.btn-del {
    background-color: #3b4664;
    color: #fff;
    font-size: 15px;
}

.btn-operator {
    background-color: #647299;
    color: #fff;
}

.btn-reset {
    background-color: #647299;
    color: #fff;
    font-size: 15px;
    grid-column-start: -3;
    grid-column-end: 1;
}

.btn-equal {
    background-color: #d13f30;
    color: #fff;
    font-size: 15px;
    grid-column-start: -1;
    grid-column-end: 3;
}

.btn:hover {
    background-color: #c0c0c0;
    color: #181f32;
}